<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.champion.deliciousInfo.food.repository.FoodNutrientMapper">

    <resultMap id="foodNutrientMap" type="com.champion.deliciousInfo.food.domain.FoodNutrient">

        <id column="nutrient_no" property="nutrientNo" />
        <association property="nutrientNo" column="nutrient_no"/>
        <association property="carbohydrate" column="carbohydrate"/>
        <association property="protein" column="protein"/>
        <association property="fat" column="fat"/>
        <association property="vitaminA" column="vitamin_a"/>
        <association property="vitaminC" column="vitamin_c"/>
        <association property="vitaminE" column="vitamin_e"/>
        <association property="calcium" column="calcium"/>
        <association property="iron" column="iron"/>
        <association property="magnesium" column="magnesium"/>
        <association property="sodium" column="sodium"/>
        <association property="omega" column="omega"/>

    </resultMap>

    <!-- 회원 조회 기능   -->
    <select id="findUser" resultMap="adminMap">
        select * from food,food_nutrient
        where food.food_no=food_nutrient.food_no;
    </select>

    <!-- 회원 가입 -->
    <insert id="regist">
        insert into admin(account, password) values (#{account},#{password})
    </insert>

</mapper>