<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.champion.deliciousInfo.food.repository.FoodMapper">
    
    <resultMap id="foodMap" type="com.champion.deliciousInfo.food.domain.Food">
        <id column="food_no" property="foodNo"/>
    </resultMap>

    <select id="findAll" resultMap="foodMap">
        select * from food
    </select>
<!--
    <select id="findAll" resultMap="foodMap">
        SELECT  *
        FROM food
        ORDER BY food_no DESC
        LIMIT #{start}, #{amount}
    </select>-->


    <select id="findOne" resultMap="foodMap">
        select * from food where food_no=#{foodNo}
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM food
    </select>

    <insert id="save">
        INSERT INTO food
            (name, kcal, img)
        values
            (#{name},#{kcal},#{img})
    </insert>

    <update id="modify">
        update food set name=#{name},kcal=#{kcal}
        where food_no=#{foodNo}
    </update>

    <update id="modifyFile">
        update food set name=#{name},kcal=#{kcal},img=#{img}
        where food_no=#{foodNo}
    </update>

    <delete id="remove">
        delete from food where food_no=#{foodNo}
    </delete>



</mapper>