<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.champion.deliciousInfo.food.repository.FoodNutrientMapper">

    <resultMap id="foodNutrientMap" type="com.champion.deliciousInfo.food.domain.FoodNutrient">

        <id column="nutrient_no" property="nutrientNo" />
        <result property="carbohydrate" column="carbohydrate"/>
        <result property="protein" column="protein"/>
        <result property="fat" column="fat"/>
        <result property="vitaminA" column="vitamin_a"/>
        <result property="vitaminC" column="vitamin_c"/>
        <result property="vitaminE" column="vitamin_e"/>
        <result property="calcium" column="calcium"/>
        <result property="iron" column="iron"/>
        <result property="magnesium" column="magnesium"/>
        <result property="sodium" column="sodium"/>
        <result property="omega" column="omega"/>
        <association property="food"
                     column="food_no" javaType="com.champion.deliciousInfo.food.domain.Food"
                     select="com.champion.deliciousInfo.food.repository.FoodMapper.findOne" />

    </resultMap>

    <!-- 회원 조회 기능   -->
    <select id="findAll" resultMap="foodNutrientMap">
        select * from food_nutrient
    </select>

    <select id="findOne" resultMap="foodNutrientMap">
        select nutrient_no, carbohydrate, protein, fat, vitamin_a, vitamin_c, vitamin_e,
               calcium, iron, magnesium, sodium, omega,
               food.food_no as food_no, name, kcal, img
        from food_nutrient RIGHT OUTER JOIN food
        on food_nutrient.food_no = food.food_no
        where food.food_no=#{foodNo}
    </select>


    <insert id="save">
        insert into food_nutrient
        (carbohydrate, protein, fat, vitamin_a, vitamin_c, vitamin_e, calcium,
         iron, magnesium, sodium, omega, food_no)
        values (#{carbohydrate},#{protein},#{fat},#{vitaminA},#{vitaminC},#{vitaminE},#{calcium}
        ,#{iron},#{magnesium},#{sodium},#{omega},LAST_INSERT_ID())
    </insert>

    <update id="modify">
        UPDATE food_nutrient SET carbohydrate=#{carbohydrate},protein=#{protein}, fat=#{fat},
                                 vitamin_a=#{vitaminA},vitamin_c=#{vitaminC},
                                 vitamin_e=#{vitaminE}, calcium=#{calcium},iron=#{iron},
                                 magnesium=#{magnesium},sodium=#{sodium},omega=#{omega}
        WHERE nutrient_no=#{nutrientNo}
    </update>

    <delete id="remove">
        delete from food_nutrient where nutrient_no=#{nutrientNo}
    </delete>

    <select id="recommend" resultMap="foodNutrientMap">
        <![CDATA[
        select * from food_nutrient
        where carbohydrate < #{carbohydrate}

        ]]>

    </select>
</mapper>