<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.champion.deliciousInfo.food.repository.FoodNutrientMapper">

    <resultMap id="foodNutrientMap" type="com.champion.deliciousInfo.food.domain.FoodNutrient">

        <id column="nutrient_no" property="nutrientNo" />
        <result property="carbohydrate" column="carbohydrate"/>
        <result property="protein" column="protein"/>
        <result property="fat" column="fat"/>
        <result property="vitaminA" column="vitamin_a"/>
        <result property="vitaminC" column="vitamin_c"/>
        <result property="vitaminE" column="vitamin_e"/>
        <result property="calcium" column="calcium"/>
        <result property="iron" column="iron"/>
        <result property="magnesium" column="magnesium"/>
        <result property="sodium" column="sodium"/>
        <result property="omega" column="omega"/>
        <association property="food"
                     column="food_no" javaType="com.champion.deliciousInfo.food.domain.Food"
                     select="com.champion.deliciousInfo.food.repository.FoodMapper.findOne" />

    </resultMap>

    <!-- 회원 조회 기능   -->
    <select id="findAll" resultMap="foodNutrientMap">
        select * from food_nutrient
    </select>


</mapper>