<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.champion.deliciousInfo.board.repository.FreeboardMapper">

    <resultMap id="freeboardMap" type="com.champion.deliciousInfo.board.domain.Freeboard">
        <result property="boardNo" column="board_no" />
        <result property="regDate" column="reg_date" />
        <result property="viewCnt" column="view_cnt" />
    </resultMap>


    <insert id="save">
        INSERT INTO freeboard
            (writer, title, content, account)    -- 여기에 추가로 계정(account)이 들어가야 한다
        VALUES (#{writer}, #{title}, #{content}, #{account})
    </insert>

    <select id="search" resultMap="freeboardMap">
        SELECT * FROM freeboard;

    </select>

<!--    &#45;&#45;         SELECT  *-->
<!--    &#45;&#45;         FROM freeboard-->
<!--    &#45;&#45;         ORDER BY board_no DESC-->
<!--    &#45;&#45;             LIMIT (#{pageNum} - 1) * #{amount}, (#{pageNum} * #{amount})-->

<!--    <select id="findAll2" resultMap="freeboardMap">-->
<!--        SELECT  *-->
<!--        FROM freeboard-->
<!--        <include refid="search" />-->
<!--        ORDER BY board_no DESC-->
<!--        LIMIT #{start}, #{amount}-->
<!--    </select>-->

<!--    <sql id="search">-->
<!--        <if test="type == 'title'">WHERE title LIKE CONCAT('%', #{keyword}, '%')</if>-->
<!--        <if test="type == 'writer'">WHERE writer LIKE CONCAT('%', #{keyword}, '%')</if>-->
<!--        <if test="type == 'content'">WHERE content LIKE CONCAT('%', #{keyword}, '%')</if>-->
<!--        <if test="type == 'tc'">-->
<!--            WHERE title LIKE CONCAT('%', #{keyword}, '%')-->
<!--            OR content LIKE CONCAT('%', #{keyword}, '%')-->
<!--        </if>-->
<!--    </sql>-->

<!--    <select id="findOne" resultMap="freeboardMap">-->
<!--        SELECT * FROM freeboard-->
<!--        WHERE board_no=#{boardNo}-->
<!--    </select>-->

<!--    <delete id="remove">-->
<!--        DELETE FROM freeboard-->
<!--        WHERE board_no=#{boardNo}-->
<!--    </delete>-->

<!--    <update id="modify">-->
<!--        UPDATE freeboard-->
<!--        SET writer = #{writer}, title=#{title}, content=#{content}-->
<!--        WHERE board_no=#{boardNo}-->
<!--    </update>-->

<!--    <select id="getTotalCount" resultType="int">-->
<!--        SELECT COUNT(*)-->
<!--        FROM freeboard-->
<!--    </select>-->

<!--    <select id="getTotalCount2" resultType="int">-->
<!--        SELECT COUNT(*)-->
<!--        FROM freeboard-->
<!--        <include refid="search" />-->
<!--    </select>-->

<!--    <update id="upViewCount">-->
<!--        UPDATE freeboard-->
<!--        SET view_cnt = view_cnt + 1-->
<!--        WHERE board_no=#{boardNo}-->
<!--    </update>-->

    <!--  첨부파일 추가  -->
<!--    <insert id="addFile">-->

<!--        INSERT INTO file_upload-->
<!--            (file_name, bno)-->
<!--        VALUES-->
<!--            (#{fileName}, last_insert_id())-->

<!--    </insert>-->

<!--    <select id="findFileNames" resultType="string">-->
<!--        SELECT file_name-->
<!--        FROM file_upload-->
<!--        WHERE bno = #{bno}-->
<!--    </select>-->

<!--    <select id="findMemberByBoardNo" resultType="com.champion.deliciousInfo.board.dto.ValidateMemberDTO">-->

<!--        SELECT account, auth-->
<!--        FROM tbl_member-->
<!--        WHERE account = (-->
<!--            SELECT account-->
<!--            FROM freeboard-->
<!--            WHERE board_no = #{boardNo}-->
<!--        )-->

<!--    </select>-->

</mapper>