<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.champion.deliciousInfo.board.repository.InfoBoardMapper">

    <resultMap id="infoBoardMap" type="com.champion.deliciousInfo.board.domain.InfoBoard">
        <id property="foodName" column="food_name"/>
        <id property="regdate" column="reg_date"/>
    </resultMap>

    <!-- 동적 SQL 코드 재사용하기   -->
    <sql id="search">
        <if test="keyword != null"> WHERE food_name LIKE CONCAT('%', #{keyword}, '%')</if>
    </sql>

    <select id="findAll" resultMap="infoBoardMap">
        select * from infoboard
    </select>


    <select id="search" resultMap="infoBoardMap">
        SELECT  *
        FROM infoboard
        <include refid="search" />
        ORDER BY infoNo DESC
        LIMIT #{start}, #{amount}
    </select>

    <select id="findOne" resultMap="infoBoardMap">
        select * from infoboard where infoNo=#{infoNo}
    </select>

     <!--<select id="getTotalCount" resultType="int">
         SELECT COUNT(*)
         FROM food
     </select>-->

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM infoboard
        <include refid="search" />
    </select>

    <!--<insert id="regist">
        insert into infoboard(title, writer,content) values (#{title},#{writer},#{content})
    </insert>-->


    <update id="modify" >
        UPDATE infoboard
        SET  food_name=#{foodName}, content=#{content}
        WHERE infoNo=#{infoNo}
    </update>

    <delete id="remove">
        DELETE FROM infoboard
        WHERE infoNo=#{infoNo}
    </delete>

    <select id="findMemberByBoardNo" resultType="com.champion.deliciousInfo.board.dto.ValidateMemberDTO">

        SELECT account, grade
        FROM member
        WHERE account = (
            SELECT writer
            FROM infoboard
            WHERE infoNo = #{infoNo}
        )

    </select>

    <update id="upViewCount">
        UPDATE infoboard
        SET hit = hit + 1
        WHERE infoNo=#{infoNo}
    </update>


</mapper>