/* 외부 무료 폰트*/
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 바디 하단 패딩으로 띄우기 */
div.boxed-page {
    min-height: 100vh;
    background-image: url("/images/food-image2.jpg");
    background-size: /*353px 390px*/ 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
}

/* 네비바  전체 */
div nav.navbar-expand-lg {
    position: relative;
    padding-top: 30px;
}

/* 네비바 li */
div.flex-column li {
    padding-top: 35px;
}
.navbar-nav .nav-link {
    margin-right: 100px;
}

/* 네비바 a 태그 */
div.flex-column li a {
    position: relative;
}
/* about */
li.nav-item #about {
    position: relative;
    padding-top: 45px;
}

li.nav-item #foodlist {
    padding-top: 45px;
}

/* food list */
div.flex-column li p{
    position: relative;
    text-align: center;
    font-size: 35px;
    margin-right: 170px;
}

div.flex-column li.dropdown:hover {
    cursor: pointer;
}

div.flex-column li a.dropdown-toggle {
    top: 45%;
    width: 100px;
}

/* home */
div.flex-column li.active a.nav-link {
    padding-top: 45px;
}

#nav-li {
    width: 100px;
    height: 100px;
    padding: 20px;
    position: relative;
    top: 28px;
}

/* 영양소 */
#nav-li #navbarDropdown {
    width: 100px;
    padding-top: 60px;
    margin-top: 45px;
    position: absolute;
}


#navbar-header .dropdown .dropdown-menu {
    top: 80%;
    display: none;
}

/* 전체 네비바  */
.navbar-expand-lg .navbar-nav .flex-column .dropdown {
    padding: 0;
}




div.boxed-page section.top-area {
    width: 50%;
    height: 420px;
    padding: 20px;
    margin:70px auto 15px;
    overflow: hidden;
}

div.boxed-page section.top-area div.top-p {
    width: 50%;
    height: 100%;
    min-width: 160px;
    float: right;
    font-size: 15px;
    border: 1px solid  #f4ede5;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    border-radius: 1.5em;
    background:  #f4ede5;
    padding: 20px;
}

div.boxed-page section.top-area div.top-p h1 {
    font-family: 'LINESeedKR-Bd';
    margin-bottom: 30px;
    color: #6c6c6c;
}

div.boxed-page section.top-area div.top-p p {
    display: block;
    width: 100%;
    font-size: 1vw;
    text-indent: 1em;
    line-height: 160%;
    text-align: justify;
    font-family: 'LINESeedKR-Bd';
}

div.boxed-page section.bottom-area  {
    width: 50%;
    display: block;
    margin: auto;
    padding: 15px;
    border: 1px solid  #f4ede5;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    border-radius: 1.5em;
    background:  #f4ede5;
    font-family: 'LINESeedKR-Bd';
}

div.boxed-page section.bottom-area div.detail2 h2 {
    margin-bottom: 10px;
    font-size: 35px;
    color: #6c6c6c;
}

div.boxed-page section.bottom-area div.detail2 h3 {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 600;
}

div.boxed-page section.bottom-area div.detail2 ul {
    list-style:none;
    padding-left: 15px;
    margin: 0;
}

div.boxed-page section.bottom-area div.detail2 ul li:first-child {
    margin-bottom: 15px;
}
div.boxed-page section.bottom-area div.detail2 ul li:nth-child(2) {
    margin-bottom: 15px;
}

div.boxed-page section.bottom-area div.detail2 ul li p {
    margin: 0;
    font-size: 0.75vw;
    text-indent: 1em;
}