<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.champion.deliciousInfo.member.repository.MemberMapper">

    <!-- 회원 가입 기능   -->
    <insert id="register">
      INSERT INTO member(account, password,gender, email, grade, name, phone)
      VALUES (#{account}, #{password}, #{gender}, #{email}, #{grade}, #{name}, #{phone} )
    </insert>

    <!-- 중복체크 기능 (아이디, 이메일)   -->
    <select id="isDuplicate" resultType="int">

        SELECT COUNT(*)   -- count를 하게 되면 값이 1개가 나오므로 resultType이 int이다
        FROM member
        <if test="type=='account'">
            WHERE account = #{value}
        </if>
        <if test="type=='email'">
            WHERE email = #{value}
        </if>

    </select>

    <!-- 회원 조회 기능   -->
    <select id="findUser" resultType="com.champion.deliciousInfo.member.domain.Member">

        SELECT *
        FROM member
        WHERE account = #{account}

    </select>

</mapper>