<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.champion.deliciousInfo.board.infoboard.repository.InfoBoardMapper">

    <resultMap id="infoBoardMap" type="com.champion.deliciousInfo.board.infoboard.domain.InfoBoard">
        <id property="foodName" column="food_name"/>
        <id property="regdate" column="reg_date"/>
    </resultMap>

    <!-- 동적 SQL 코드 재사용하기   -->
    <sql id="search">
        <if test="keyword != null"> WHERE food_name LIKE CONCAT('%', #{keyword}, '%')</if>
    </sql>

    <select id="findAll" resultMap="infoBoardMap">
        select * from infoboard
    </select>


    <select id="search" resultMap="infoBoardMap">
        SELECT  *
        FROM infoboard
        <include refid="search" />
        ORDER BY infoNo DESC
        LIMIT #{start}, #{amount}
    </select>

    <select id="findOne" resultMap="infoBoardMap">
        select * from infoboard where infoNo=#{infoNo}
    </select>

     <!--<select id="getTotalCount" resultType="int">
         SELECT COUNT(*)
         FROM food
     </select>-->

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM infoboard
        <include refid="search" />
    </select>

    <!--<insert id="save">
        INSERT INTO food
            (name, kcal, img)
        values
            (#{name},#{kcal},#{img})
    </insert>

    <update id="modify">
        update food set name=#{name},kcal=#{kcal}
        where food_no=#{foodNo}
    </update>

    <update id="modifyFile">
        update food set name=#{name},kcal=#{kcal},img=#{img}
        where food_no=#{foodNo}
    </update>

    <delete id="remove">
        delete from food where food_no=#{foodNo}
    </delete>-->



</mapper>